/* COLORS */

$color-primary: hsla(140, 49%, 55%, 1);
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-blue: hsla(207, 76%, 38%, 1);
$color-dark-blue: hsla(225, 59%, 11%, 1);

$color-blue: hhsla(140, 50%, 21%, 1);
$color-dark-blue: hsla(86, 17%, 33%, 1);

$color-grey-: #777;
$color-withe: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;

// GRID

$grid-with: 114rem;
$gutter-horizontal: 3rem;
$gutter-vertical: 6rem;
