/* COLORS */

$color-primary: hsla(140, 49%, 55%, 1);
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-orange-ligth: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-ligth: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-: #777;
$color-withe: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;

// GRID

$grid-with: 114rem;
$gutter-horizontal: 3rem;
$gutter-vertical: 6rem;
