/* RESET */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #cacaca;
  font-size: 1.6rem;
  min-height: 100dvh;
  background-image: url("../hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;

  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* BASE STYLES */

.container {
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 544px rgba(0, 0, 0, 0.9);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
}

.logo span {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.nav {
}

.nav__items {
  display: flex;
  column-gap: 0rem;
}
.nav__item {
  padding: 1rem 2rem;
  min-width: max-content;
}

.nav__link {
  font-size: 1.4rem;
}
.nav__item:hover {
  background-color: rgba(68, 68, 68, 0.2);
  color: #fff;
}

/* DROPDOWN */

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown__list {
  display: block;
}
.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 39px;
  min-width: max-content;
  background-color: rgba(49, 49, 49, 0.466);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown__item {
  padding: 1rem;
  cursor: pointer;
}

.dropdown__item:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.529);
}
.dropdown__link {
  font-size: 1.2rem;
  color: #cacaca;
}

.dropdown__link:hover {
  color: #fff;
}

@media (max-width: 650px) {
  .header__content {
    flex-direction: column;
  }
  .header {
    position: relative;
  }
  .dropdown {
    position: unset;
  }
  .dropdown__list {
    left: 0;
    width: 100%;
    top: 100%;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .dropdown__list {
    left: initial;
    right: 0;
  }
}

/* SUBMENU */

/* MAIN */
main {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(23, 23, 23);
}
.main__content {
  padding-block: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__title {
  font-size: 7rem;
  text-transform: capitalize;
  line-height: 2;
}
.main__description {
}

footer {
}
.footer__content {
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
