@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

section {
  padding-block: 10rem;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  max-width: 115rem;
  width: 90%;
  margin: 0 auto;
}

.hero-area {
  height: 100dvh;
}
.hero-area__bg {
  position: absolute;
  left: 0;
  top: -400px;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.header__logo p {
  font-weight: 700;
  font-size: 2.4rem;
}
.nav__list {
  display: flex;
}

.nav__item {
  padding: 2.5rem;
  position: relative;
}

.nav__item:hover {
  color: #00c8ff;
}

.nav__item::after {
  position: absolute;
  content: "";
  width: 0;
  opacity: 0;
  transition: all 0.4s;
}

.nav__item:hover::after {
  height: 2px;
  opacity: 1;

  display: block;
  background-color: #00c8ff;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.nav__link {
  text-transform: uppercase;
}
.hero-area__section {
  color: #ffffff;
}

.carousel {
  height: 100%;
}

.carousel__inner {
  margin: 0 auto;
  max-width: 100rem;
  position: relative;
}
.slide {
  position: absolute;
  transform: translate(100%);
  transition: all 0.5s;
  opacity: 0;
}

.slide.active {
  transform: translateX(0);
}
.slide__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.slide__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
}
.slide__text h1 {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1.2;
  max-width: min-content;
}
.slide__text p {
  font-size: 1.4rem;
}

.slide a,
.services__all {
  background-color: #00c8ff;
  padding: 1rem 3rem;
  width: fit-content;
  font-weight: 600;
}
.slide a:hover,
.services__all:hover {
  background-color: #0080a5;
}
.slide__imgWp {
  flex: 1;
}

.carousel__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.carousel__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.carousel__dot.active {
  width: 18px;
  height: 18px;
  background-color: #00c8ff;
}

/* SERVICES */

.services {
  text-align: center;
}
.services__list {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  margin-bottom: 8rem;
}
.services__title {
  font-size: 3rem;
}
.services__title span {
  color: #00c8ff;
}
.service {
  border-radius: 1rem;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  background-color: #f8f8f9;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.service__desc {
}
.service__title {
}
.service__heading {
  width: 100px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.service__learn {
  font-size: 1.8rem;
  color: #06004b;
  font-weight: 600;
  margin-top: 1rem;
}

.services__all {
  color: #fff;
}

/* ABOUT US */

.about {
  background-color: #06004b;
  color: #fff;
}
.about__content {
  text-align: center;
}

.about__heading {
  font-size: 3rem;
}
.about__heading span {
  color: #00c8ff;
}

.about__flex {
  display: flex;
  /* align-items: stretch; */
  margin-top: 5rem;
}

.about__text {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}

.about__text h3 {
  /* margin-bottom: auto; */
  font-size: 3rem;
}

.about__text p + p {
  margin-top: 2rem;
}
.about__imgWp {
  flex: 1;
}

/* WHY */

.why h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

h2 span {
  color: #00c8ff;
}
/* TABBED COMPONENT */

.tabbed {
}

.tabbed__tabs {
  display: flex;
  background-color: #f8f8f9;
  box-shadow: 0 10px 5px #ececf9;
  margin-bottom: 3rem;
  gap: 3rem;
  border-radius: 500rem;
}
.tabbed__tab {
  padding: 2rem;
  cursor: pointer;
}
.tabbed__tab.active {
  background-color: #06004b;
  color: #fff;
  border-radius: 500rem;
  font-weight: 600;
}

.tabbed__content[aria-hidden="true"] {
  height: 0;
  overflow: hidden;
}
.tabbed img {
  width: 55px;
  height: auto;
}

.tabbed__imgWp {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #00204a;

  display: flex;

  justify-content: center;

  align-items: center;
}

.tabbed__content[aria-hidden="false"] {
  height: initial;
}
.tabbed__content {
  transition: all 0.5s;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.tabbed__content p {
  font-size: 2rem;
  line-height: 1.7;
}

/* FOOTER */

.footer__bottom p {
  padding: 2rem;
  text-align: center;
}
