.feature {
  background-color: rgba(#fff, 0.8);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(#000, 0.1);
  transition: transform 0.3s;
  //   transform: skew(7deg);

  &__icon {
    background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    );
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: transparent;
    background-clip: text;
  }
  &__text {
  }

  &:hover {
    transform: translateY(-15px) scale(1.03);
  }
}
