@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

:root {
  /*========== Colors ==========*/
  --color-main-lighter: #dee9ff;
  --color-main: #2b5ced;
  --color-main-darker: #18327b;
  --color-withe: #fff;

  /*========== Font and typography ==========*/
  --font-body: "Almarai";
  --font-headings: "Inria Sans";

  /*========== Font size ==========*/

  --font-xl: 3.6rem;
  --font-lg: 2.4rem;
  --font-normal: 1.6rem;
  --font-sm: 1.4rem;
  --font-xs: 1.2rem;

  /*========== Font weight ==========*/

  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  /* Border Raduius */

  --rounded-none: 0px;
  --rounded-sm: 0.2; /* 2px */
  --rounded-base: 0.4rem; /* 4px */
  --rounded-md: 0.6rem; /* 6px */
}

/* RESET */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Almarai", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100dvh;
  background: linear-gradient(
    to bottom,
    var(--color-accent),
    var(--color--accent-darker)
  );

  color: var(--color-main-darker);
  margin-top: 94px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
}
/* UTILITIES */

.container {
  max-width: 115rem;
  width: 90%;
  margin: 0 auto;
}

.button {
  padding: 1.4rem;
  font-weight: 600;
  font-size: var(--font-sm);
  color: var(--color-withe);
  background-color: var(--color-main);
}

/* BASE STYLES */

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-headings);
}
h1 {
  font-size: var(--font-5xl);
  line-height: 1.1;
  letter-spacing: -1.5px;
}

h2 {
  font-size: var(--font-4xl);
  letter-spacing: -1px;
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

h2 {
  font-size: var(--font-4xl);
  letter-spacing: -1px;
  line-height: 1.2;
}
.section {
  padding-block: 5rem 1rem;
}

/* ******* */
/* HEADER */
/* ******* */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
}
/* BRAND */
.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__brand {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.header__brand span {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.header__brand p {
  margin-top: -0.8rem;
}

/* MAIN NAVIGATION */

.nav {
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
  padding-block: 3.5rem;
  padding-inline: 1.5rem;
}
.nav__link {
  font-size: 1.4rem;
  font-weight: 600;
}
/* SECOND NAVIGATION */

.header__sec-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.button--outline {
  border: 1px solid var(--color-main);
  color: var(--color-main);
  background-color: #fff;
}

/* ***** */
/* HERO  */
/* ***** */

.hero {
  background: linear-gradient(180deg, var(--color-main-lighter) 0, #fff 70.48%);
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  flex: 1;
  max-width: 560px;
}

.hero__title {
  font-family: var(--font-headings);
  font-size: var(--font-xl);
  font-weight: var(--font-black);
}
.hero__description {
  font-size: var(--font-lg);
  line-height: 1.1;
}
.hero__button {
  text-transform: capitalize;
  width: max-content;
  margin-top: 2rem;
  padding-block: 1rem;
}

.hero__imgWp {
  flex: 1;
  padding: 10rem;
}
.hero__img {
}

/* ********* */
/*  FEATURES */
/* ******** */

.features {
  background-color: var(--color-main-darker);
  padding-block: 4rem;
}
.features__content {
  display: flex;
  column-gap: 4rem;
}

.card {
  flex: 1;
  background-color: var(--color-withe);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card__title {
  font-size: 2.2rem;
  letter-spacing: -1px;
  margin-top: -0.5rem;
  font-weight: 900;
}

.card__img {
  width: 45px;
  height: 45px;
}
