@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

/* VARIABLES */
:root {
  /*========== Colors ==========*/
  --color-main-lighter: #dee9ff;
  --color-main: #2b5ced;
  --color-main-darker: #18327b;
  --color-withe: #fff;

  /*========== Font and typography ==========*/
  --font-body: "Almarai";
  --font-headings: "Inria Sans";

  /*========== Font size ==========*/

  --font-xl: 3.6rem;
  --font-lg: 2.4rem;
  --font-normal: 1.6rem;
  --font-sm: 1.4rem;
  --font-xs: 1.2rem;

  /*========== Font weight ==========*/

  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  /* Border Raduius */

  --rounded-none: 0px;
  --rounded-sm: 0.2; /* 2px */
  --rounded-base: 0.4rem; /* 4px */
  --rounded-md: 0.6rem; /* 6px */
}

/* RESET */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Almarai", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100dvh;
  background: linear-gradient(
    to bottom,
    var(--color-accent),
    var(--color--accent-darker)
  );

  color: var(--color-gray-900);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* UTILITIES */

.container {
  max-width: 115rem;
  width: 90%;
  margin: 0 auto;
}

/* BASE STYLES */

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-headings);
}
h1 {
  font-size: var(--font-5xl);
  line-height: 1.1;
  letter-spacing: -1.5px;
}

h2 {
  font-size: var(--font-4xl);
  letter-spacing: -1px;
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

h2 {
  font-size: var(--font-4xl);
  letter-spacing: -1px;
  line-height: 1.2;
}
.section {
  padding-block: 5rem 1rem;
}
.bg {
  position: absolute;
}
.bg:nth-child(1) {
  bottom: 0;
  right: 0;
}

.bg:nth-child(2) {
  top: 0;
  left: 0;
}
